---
import { getG7 } from "../consts/pokemonList";

let listG7 = await getG7();
---

<section
    class="container h-auto mx-auto grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4
                md:grid-cols-2 gap-y-14 my-10 jutify-center items-center"
>
    {
        listG7.map(({ id, name, types }) => (
            <article class="w-72 h-80 rounded-2xl shadow-xl hover:scale-105 hover:shadow-2xl transition-all duration-200 cursor-pointer flex flex-col mx-auto">
                {types[0].type.name == "normal" && (
                    <header class="z-10 normal rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "fire" && (
                    <header class="z-10 fire rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "water" && (
                    <header class="z-10 water rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "electric" && (
                    <header class="z-10 electric rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "grass" && (
                    <header class="z-10 grass rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "ice" && (
                    <header class="z-10 ice rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "fighting" && (
                    <header class="z-10 fighting rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "poison" && (
                    <header class="z-10 poison rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "ground" && (
                    <header class="z-10 ground rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "flying" && (
                    <header class="z-10 flying rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "psychic" && (
                    <header class="z-10 psychic rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "bug" && (
                    <header class="z-10 bug rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "rock" && (
                    <header class="z-10 rock rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "ghost" && (
                    <header class="z-10 ghost rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "dragon" && (
                    <header class="z-10 dragon rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "dark" && (
                    <header class="z-10 dark rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "steel" && (
                    <header class="z-10 steel rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                {types[0].type.name == "fairy" && (
                    <header class="z-10 fairy rounded-t-2xl">
                        <div class="px-4 py-3 w-72 ">
                            <p class="text-white mr-3 uppercase">{`Nº ${id.toString().padStart(4, 0)}`}</p>
                        </div>
                        <div
                            style="backdrop-filter: blur(20px);"
                            class="bg-white bg-clip-padding bg-opacity-40 shadow-2xl h-40 w-40 rounded-full mx-auto my-auto border border-gray-300 -mb-8 z-100"
                        >
                            <img
                                src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id.toString()}.png`}
                                alt="Pokémon"
                                class="h-full w-full object-contain"
                            />
                        </div>
                    </header>
                )}
                <div class="justify-center items-center mx-auto flex flex-col py-3 mt-7 w-72">
                    <p class="text-2xl font-bold text-black truncate block capitalize mb-1">
                        {`${name}`}
                    </p>
                    <div class="flex items-center">
                        {types[0].type.name == "normal" && (
                            <div class="normal px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Normal
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "fire" && (
                            <div class="fire px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Fuego
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "water" && (
                            <div class="water px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Agua
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "electric" && (
                            <div class="electric px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Eléctrico
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "grass" && (
                            <div class="grass px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Planta
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "ice" && (
                            <div class="ice px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Hielo
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "fighting" && (
                            <div class="fighting px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Lucha
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "poison" && (
                            <div class="poison px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Veneno
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "ground" && (
                            <div class="ground px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Tierra
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "flying" && (
                            <div class="flying px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Volador
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "psychic" && (
                            <div class="psychic px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Psíquico
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "bug" && (
                            <div class="bug px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Bicho
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "rock" && (
                            <div class="rock px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Roca
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "ghost" && (
                            <div class="ghost px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Fantasma
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "dragon" && (
                            <div class="dragon px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Dragón
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "dark" && (
                            <div class="dark px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Siniestro
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "steel" && (
                            <div class="steel px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Acero
                                </a>
                            </div>
                        )}
                        {types[0].type.name == "fairy" && (
                            <div class="fairy px-4 py-1 mt-2 rounded-2xl">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Hada
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "normal" && (
                            <div class="normal px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Normal
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "fire" && (
                            <div class="fire px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Fuego
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "water" && (
                            <div class="water px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Agua
                                </a>
                            </div>
                        )}
                        {types.length > 1 &&
                            types[1].type.name == "electric" && (
                                <div class="electric px-4 py-1 mt-2 rounded-2xl ml-2">
                                    <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                        Eléctrico
                                    </a>
                                </div>
                            )}
                        {types.length > 1 && types[1].type.name == "grass" && (
                            <div class="grass px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Planta
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "ice" && (
                            <div class="ice px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Hielo
                                </a>
                            </div>
                        )}
                        {types.length > 1 &&
                            types[1].type.name == "fighting" && (
                                <div class="fighting px-4 py-1 mt-2 rounded-2xl ml-2">
                                    <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                        Lucha
                                    </a>
                                </div>
                            )}
                        {types.length > 1 && types[1].type.name == "poison" && (
                            <div class="poison px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Veneno
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "ground" && (
                            <div class="ground px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Tierra
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "flying" && (
                            <div class="flying px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Volador
                                </a>
                            </div>
                        )}
                        {types.length > 1 &&
                            types[1].type.name == "psychic" && (
                                <div class="psychic px-4 py-1 mt-2 rounded-2xl ml-2">
                                    <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                        Psíquico
                                    </a>
                                </div>
                            )}
                        {types.length > 1 && types[1].type.name == "bug" && (
                            <div class="bug px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Bicho
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "rock" && (
                            <div class="rock px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Roca
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "ghost" && (
                            <div class="ghost px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Fantasma
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "dragon" && (
                            <div class="dragon px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Dragón
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "dark" && (
                            <div class="dark px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Siniestro
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "steel" && (
                            <div class="steel px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Acero
                                </a>
                            </div>
                        )}
                        {types.length > 1 && types[1].type.name == "fairy" && (
                            <div class="fairy px-4 py-1 mt-2 rounded-2xl ml-2">
                                <a class="text-lg font-semibold text-black cursor-auto capitalize ">
                                    Hada
                                </a>
                            </div>
                        )}
                    </div>
                </div>
            </article>
        ))
    }
</section>
